* {
  margin : 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  background-color: rgb(143, 133, 121);
}

.box {
  width: 400px;
  height: 400px;
}