.container {
    background-color: hsl(213, 19%, 18%);
    max-width: 500px;
    margin: 0 auto; 
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

p {
    color : hsl(217, 12%, 63%): 
}