.container {
    background-color: hsl(213, 19%, 18%);
    max-width: 500px;
    margin: 0 auto; 
    border-radius: 20px;
    text-align: center;
    align-items: center;
    padding: 30px;
}

img {
    margin: 20px 0;
}

h3 {
    color: white;
    font-size: 40px;
}

p {
    max-width: 70%;
    left : 50%;
    top : 50%;
    transform: translate(-50%, -50%);
    color : hsl(217, 12%, 63%);
    font-size: 15px;
}