* {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
    background-size: contain;
    display: flex;
    align-items: center;
}

.container{
    margin: 0 10%;
    display: grid;
    text-align: left;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: 15px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
}

.left{
    padding: 8%;
}

.title{
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.description{
    margin: 30px 0;
}

.right{
    width: 100%;
    height: 100%;
    position: relative;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right::after{
    position: absolute;
    left: 0;
    top: 0;
    content: '';

    height: 100%;
    width: 100%;
    object-fit: cover;

    background-color: hsl(277, 64%, 61%);
    opacity: 0.5;
}

.sta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
