* {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
    background-size: contain;
    position: relative;
}

.container{
    margin: 10% 10%;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    
}

