* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulder display', sans-serif;
    font-weight: 700;
}

body {
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 20px;
    overflow: hidden;
}

.imageContainer {
    margin: 15%;
}