@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.top {
    background-color: white;
    border-radius: 15px;
}